{
    "plugins": [
        "react"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
        }
    },
    "env": {
        "es6":     true,
        "browser": true,
        "node":    true,
        "mocha":   true
    },   
    "extends": [
        "eslint:recommended", 
        "plugin:react/recommended"
    ],    

    "rules": {
      "no-unused-vars": 0,
      "no-console": 0,
      "react/no-find-dom-node": 0,
      "react/no-string-refs": 0,
      "comma-dangle": [
        "warn",
        "never"
      ],
      "indent": [
        "warn",
        2
      ],
      "linebreak-style": [
        "warn",
        "unix"
      ],
      "quotes": [
        "warn",
        "single"
      ],
      "semi": [
        "warn",
        "always"
      ]
    }
}