.bc-icons.breadcrumb-item::before,
.bc-icons.breadcrumb-item::after {
  content: none;
}

.bc-icons.breadcrumb-item + .active.breadcrumb-item::before,
.bc-icons.breadcrumb-item + .active.breadcrumb-item::after{
  content: none;
}

.bc-icons.breadcrumb-item.active {
  color: #eeeeee;
}
