.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-fade .carousel-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block !important;
  opacity: 0;
  z-index: 0;
  transition: transform 0ms ease-in-out, opacity 0.8s ease-out;
}

.carousel-fade .carousel-item.active {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.carousel-multi-item .carousel-item {
  display: inline-block !important;
}

.carousel .carousel-slide-item {
  transition: left 0.5s;
}

.carousel-control-prev, .carousel-control-next, .carousel-item-prev, .carousel-item-next {
  z-index: 2;
}
