.hamburger-button__checkbox{
    display: none;
}

.hamburger-button__button{
    background-color: transparent;
    height: 100%;
    width: 100%;
    text-align: center;
    cursor: pointer;
    top: -5px;
}

label.hamburger-button__button{
    margin-bottom: 0;
}

#nav-icon1{
    width: 1.5em;
    height: 1.5em;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon1 span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 1px;
    background-color: #fff;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #nav-icon1 span:nth-child(1) {
    top: 5px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 16px;
  }

  #nav-icon1 span:nth-child(3) {
    top: 27px;
  }

  .hamburger-button__checkbox:checked + #nav-icon1 span:nth-child(1) {
    top: 16px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .hamburger-button__checkbox:checked + #nav-icon1 span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  .hamburger-button__checkbox:checked + #nav-icon1 span:nth-child(3) {
    top: 16px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
